#page-title { background-color: rgb(119, 92, 18);
            color: rgb(0, 0, 0);
        }

#page-title { padding: 20px;

}

#page-title { margin: 0px;
          
}

#alıntı {
    border-style: groove;
    width: 50%;
    display: inline-block;

}

#alıntı2 {
    width: 50%;
    display: inline-block;
}

#tablo {
    border-style: groove;
    width: 50%;
    display: inline-block;
}

#tablo2 {
    width: 50%;
    display: inline-block;
    
}

#albüm {
    border-style: groove;
}

  *
  {
   box-sizing: border-box;

  }

  .main-header {
    background-color: rgb(119, 92, 18);
    border-style: groove;
    border-color: black;

    
  }

.main-nav {
    display: inline-block;
    width: calc(100%-74px);
    
}

.istanbul {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    padding-bottom: 10px;
    
  
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    

}

.jazz {
    display: inline-block;
    text-decoration: none;
    color: black;

}

    .Ülkeler {
    display: inline-block;
    text-decoration: none;

}

.Sinema {
    display: inline-block;
    padding: 20px;
    text-decoration: none;

}