#page-title { background-color: rgb(119, 92, 18);
            color: rgb(0, 0, 0);
        }

#page-title { padding: 20px;

}

#page-title { margin: 0px;
          
}

#alıntı {
    border-style: groove;
    width: 50%;
    display: inline-block;

}

#alıntı2 {
    width: 50%;
    display: inline-block;
}

#tablo {
    border-style: groove;
    width: 50%;
    display: inline-block;
}

#tablo2 {
    width: 50%;
    display: inline-block;
    
}

#albüm {
    border-style: groove;
}



.bronxtale {
    display: inline-block;
    padding: 20px;
    text-decoration: none;

}

body {
    background-image: url(../Adsız\ tasarım\ \(2\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: initial;
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }

#Sinema {
    background-image: url(../Adsız\ tasarım\ \(4\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: initial;
    height: 100%;
    margin: 0;
}

  
  *{
    padding: 0%;
    box-sizing: 0;
    box-sizing: border-box;
  }


.menu-bar{
    background:rgb(119, 92, 18);
    border-style:solid;
    border-width: 2px;


    
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    
    
}

.menu-bar ul li {
    width: 160px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li a {
    text-decoration: none;
    color: #000000;
}

.active, .menu-bar ul li:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    

}

.menu-bar .fas{
 
margin-right: 10px;

}

.RüstemPaşaCamii{
    display: none;
}

.menu-bar ul li:hover .RüstemPaşaCamii{
    display: block;
    position: absolute;
    background: rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: -15px;
    font-family: 'Times New Roman', Times, serif;

}


.menu-bar ul li:hover .RüstemPaşaCamii ul{
    display: block;
}

.menu-bar ul:hover .RüstemPaşaCamii ul li{
    width:120px ;
    padding: 8px;
    border-bottom: 1px solid black;
    background: transparent;

}

.menu-bar ul li:hover .RüstemPaşaCamii ul li a:hover{
    color:rgb(119, 92, 18);
}

.fa-caret-right{
    font-size: 15px;
    float: right;
}

.müzeler{
    display: none;
}
.hower-müze:hover .müzeler{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 120px;
    background: #ffffff;
}