#page-title { background-color: #1b1b1b;
            color: rgb(255, 255, 255);
        }

#page-title { padding: 20px;

}

#page-title { margin: 0px;
          
}

#alıntı {
    border-style: groove;
    width: 50%;
    display: inline-block;

}

#alıntı2 {
    width: 50%;
    display: inline-block;
}

#tablo {
    border-style: groove;
    width: 50%;
    display: inline-block;
}

#tablo2 {
    width: 50%;
    display: inline-block;
    
}

#albüm {
    border-style: groove;
}



.bronxtale {
    display: inline-block;
    padding: 20px;
    text-decoration: none;

}

body {
    background-image: url(../Adsız\ tasarım\ \(2\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: initial;
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }

#Sinema {
    background-image: url(../Adsız\ tasarım\ \(4\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: initial;
    height: 100%;
    margin: 0;
}

#Bronx-Tale {
  background-image: url(../Adsız\ tasarım\ \(4\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: initial;
  height: 100%;
  margin: 0;
}

  
  *{
    padding: 0%;
    box-sizing: 0;
    box-sizing: border-box;
  }


.menu-bar{
    background:rgba(0,0,0,0.2);
    border-style:solid;
    border-width: 2px;


    
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    
    
}

.menu-bar ul li {
    width: 160px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li a {
    text-decoration: none;
    color: #000000;
}

.active, .menu-bar ul li:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    

}

.menu-bar .fas{
 
margin-right: 10px;

}

.RüstemPaşaCamii{
    display: none;
}

.menu-bar ul li:hover .RüstemPaşaCamii{
    display: block;
    position: absolute;
    background: rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: -15px;
    font-family: 'Times New Roman', Times, serif;
    

}


.menu-bar ul li:hover .RüstemPaşaCamii ul{
    display: block;
}

.menu-bar ul:hover .RüstemPaşaCamii ul li{
    width:120px ;
    padding: 8px;
    border-bottom: 1px solid black;
    background: transparent;

}

.menu-bar ul li:hover .RüstemPaşaCamii ul li a:hover{
    color:rgb(119, 92, 18);
}

.jazz, .Sinema, .Dünya, .istanbul{
  font-size: 15px;
}

.active{
  font-size: 15px;
}

.fa-caret-right{
    font-size: 15px;
    float: right;
}

.müzeler{
    display: none;
}
.hower-müze:hover .müzeler{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 120px;
    background: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  nav{
    position: absolute;
    top: 23%;
    right: -10%;
    transform: translate(-50%, -50%);
    background: #1b1b1b;
    width: 400px;
    line-height: 40px;
    padding: 8px 25px;
    border-radius: 5px;
  }
  nav label{
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: block;
    cursor: pointer;
  }
  .button span{
    float: right;
    line-height: 40px;
    transition: 0.5s;
  }
  .button span.rotate{
    transform: rotate(-180deg);
  }
  nav ul{
    position: absolute;
    background: #1b1b1b;
    list-style: none;
    top: 75px;
    left: 0;
    width: 100%;
    border-radius: 5px;
    display: none;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
  nav .menu:before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background: #1b1b1b;
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: -1;
  }
  nav ul li{
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  nav ul li label{
    font-size: 15px;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: block;
  }
  nav ul li a:hover,
  nav ul li label:hover{
    color: cyan;
  }
  nav ul ul{
    position: static;
  }
  nav ul ul li{
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
  }
  nav ul ul li a{
    color: #e6e6e6;
    font-size: 17px;
  }
  nav ul li span{
    font-size: 20px;
    float: right;
    margin-top: 10px;
    padding: 0 10px;
    transition: 0.5s;
  }
  nav ul li span.rotate{
    transform: rotate(-180deg);
  }
  input{
    display: none;
  }

   
img {
    width: 100%;
}

.bronx-1 { grid-column: 4 / 5; }
.bronx-2 { grid-column: 1 / 8; }



#page-title .social-icons {
    float:right;
    margin-top: -45px;
   color:#ffffff;
   

}

#facebook-icon {
  color: #1877f2; 
}

#linkedin-icon {
  color: #0077B5; 
}

#instagram-icon{
  color : #E4405F; 
}

#twitter-icon{
  color: #1DA1F2;
}

article {
  display: grid;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
  height: 100vh;
  padding: 0.5in 0;
}

article * {grid-column:  start / end; }

@media (max-width: 8.5in){
  article {grid-template-columns:1fr 0.5in[start] 15% 60% 15% [end] 0.5in 1fr ;}
}
  


.debug-center{
  display: flex;
  justify-content: center;
  align-items:center ;
}

